<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInterestsControllers</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.UserInterestsControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Client</servlet-name>
        <jsp-file>/client/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Interest</servlet-name>
        <jsp-file>/client/interests.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <jsp-file>/client/profile.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Favourites</servlet-name>
        <jsp-file>/client/favourites.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <jsp-file>/client/history.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Suggestions</servlet-name>
        <jsp-file>/client/suggestions.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Popular</servlet-name>
        <jsp-file>/client/popular.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Notifications</servlet-name>
        <jsp-file>/client/notifications.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ArticleController</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.ArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockUser</servlet-name>
        <servlet-class>com.surpriseme.controllers.admin.BlockUnblockUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationsController</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.NotificationsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Client</servlet-name>
        <url-pattern>/Client</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Interest</servlet-name>
        <url-pattern>/Interest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Favourites</servlet-name>
        <url-pattern>/Favourites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Suggestions</servlet-name>
        <url-pattern>/Suggestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Popular</servlet-name>
        <url-pattern>/Popular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notifications</servlet-name>
        <url-pattern>/Notifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockUser</servlet-name>
        <url-pattern>/BlockUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleController</servlet-name>
        <url-pattern>/ArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationsController</servlet-name>
        <url-pattern>/NotificationsController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Client</welcome-file>
    </welcome-file-list>
</web-app>
