<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.surpriseme.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/user/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInterestsControllers</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.UserInterestsControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Interest</servlet-name>
        <jsp-file>/client/interests.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <jsp-file>/client/profile.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Favourites</servlet-name>
        <jsp-file>/client/favourites.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <jsp-file>/client/history.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Suggestions</servlet-name>
        <jsp-file>/client/suggestions.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Popular</servlet-name>
        <jsp-file>/client/popular.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Notifications</servlet-name>
        <jsp-file>/client/notifications.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ArticleController</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.ArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockUser</servlet-name>
        <servlet-class>com.surpriseme.controllers.admin.BlockUnblockUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationsController</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.NotificationsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInterestController</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.UserInterestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <jsp-file>/client/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <jsp-file>/client/registration.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UsernameCheckerController</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.UsernameCheckerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailCheckerController</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.EmailCheckerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchInterestController</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.FetchInterestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmail</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.VerifyEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuggestionsController</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.SuggestionsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToGraphController</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.AddToGraphController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockClientUserController</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.BlockClientUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromGraphController</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.RemoveFromGraphController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserGraphController</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.UserGraphController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllFriends</servlet-name>
        <servlet-class>com.surpriseme.controllers.client.GetAllFriends</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Interest</servlet-name>
        <url-pattern>/Interest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Favourites</servlet-name>
        <url-pattern>/Favourites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Suggestions</servlet-name>
        <url-pattern>/Suggestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Popular</servlet-name>
        <url-pattern>/Popular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notifications</servlet-name>
        <url-pattern>/Notifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockUser</servlet-name>
        <url-pattern>/BlockUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationsController</servlet-name>
        <url-pattern>/NotificationsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/client/UserProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleController</servlet-name>
        <url-pattern>/client/ArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/client/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/client/LoginPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/client/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsernameCheckerController</servlet-name>
        <url-pattern>/UsernameCheckerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailCheckerController</servlet-name>
        <url-pattern>/EmailCheckerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/client/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchInterestController</servlet-name>
        <url-pattern>/FetchInterestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInterestController</servlet-name>
        <url-pattern>/client/UserInterestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmail</servlet-name>
        <url-pattern>/client/VerifyEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuggestionsController</servlet-name>
        <url-pattern>/SuggestionsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToGraphController</servlet-name>
        <url-pattern>/AddToGraphController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockClientUserController</servlet-name>
        <url-pattern>/BlockClientUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromGraphController</servlet-name>
        <url-pattern>/RemoveFromGraphController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/SearchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserGraphController</servlet-name>
        <url-pattern>/UserGraphController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllFriends</servlet-name>
        <url-pattern>/client/GetAllFriends</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>client/LoginPage</welcome-file>
    </welcome-file-list>
</web-app>
