<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>com.surpriseme.controllers.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInterestsControllers</servlet-name>
        <servlet-class>com.surpriseme.controllers.UserInterestsControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Client</servlet-name>
        <jsp-file>/client/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Interest</servlet-name>
        <jsp-file>/client/interests.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <jsp-file>/client/profile.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Favourites</servlet-name>
        <jsp-file>/client/favourites.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <jsp-file>/client/history.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Suggestions</servlet-name>
        <jsp-file>/client/suggestions.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Popular</servlet-name>
        <jsp-file>/client/popular.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Notifications</servlet-name>
        <jsp-file>/client/notifications.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>tagAddUpdateDeleteServlet</servlet-name>
        <servlet-class>com.surpriseme.controllers.tagAddUpdateDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUpdateTagServlet</servlet-name>
        <servlet-class>com.surpriseme.controllers.InsertUpdateTagServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserImage</servlet-name>
        <servlet-class>com.surpriseme.controllers.InsertImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>valiDationServlet</servlet-name>
        <servlet-class>com.surpriseme.controllers.valiDationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInterestsControllers</servlet-name>
        <url-pattern>/UserInterestsControllers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Client</servlet-name>
        <url-pattern>/Client</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Interest</servlet-name>
        <url-pattern>/Interest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Favourites</servlet-name>
        <url-pattern>/Favourites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Suggestions</servlet-name>
        <url-pattern>/Suggestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Popular</servlet-name>
        <url-pattern>/Popular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notifications</servlet-name>
        <url-pattern>/Notifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tagAddUpdateDeleteServlet</servlet-name>
        <url-pattern>/tagAddUpdateDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUpdateTagServlet</servlet-name>
        <url-pattern>/InsertUpdateTagServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserImage</servlet-name>
        <url-pattern>/InserImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>valiDationServlet</servlet-name>
        <url-pattern>/valiDationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Client</welcome-file>
    </welcome-file-list>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
        /home/peace/gthub/surprise/surpriseme/web/images/Tag/
     </param-value>
    </context-param>
</web-app>
