/* 
    Document   : display.css
    Created on : Oct 31, 2012, 10:21:42 PM
    Author     : a
    Description:
        Purpose of the stylesheet follows.
*/

#main{
    background:#AAA;
    width:100%;
    height:100%;
}
#main #title{
    background: #BBB;
    width:90%;
    float: left;
    padding :5px;
    
}
#tab1{
    overflow: auto;
}





.innerHead{
    padding:10px;
    border-radius: 5px;
    display:block;
    background:#DDD;
    color:#000;
    font-size:20px;
    padding-left: 25px;
    margin-top:2px;
}
#articleid{
    margin-top: 1px;
    padding:10px;
    padding-left:50px;
    background: #EEF;
    color:#000;
    font-size: 18px;
    
}
#main #link{
    
    margin-right: 15px;
    float:right;
    width: 10%;
}
.hr{
    background: red;
}
.inputs{
    background:#EEF;
    font-size: 18px;
    border:0px;
}
#submit{
    visibility: hidden;
}
#alltags{
    float:left;
    width:40%;
    background: #EEE;
    word-wrap:break-word;
   
}
#articletag{
    
    float:right;
    width:40%;
   
    background: #AAA;
    word-wrap:break-word;
}
