<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="surprisemePU" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <class>com.surpriseme.entities.Tag</class>
    <class>com.surpriseme.entities.Usersuggestions</class>
    <class>com.surpriseme.entities.Role</class>
    <class>com.surpriseme.entities.Userrole</class>
    <class>com.surpriseme.entities.User</class>
    <class>com.surpriseme.entities.Userhistory</class>
    <class>com.surpriseme.entities.Useractivation</class>
    <class>com.surpriseme.entities.Interest</class>
    <class>com.surpriseme.entities.Articletag</class>
    <class>com.surpriseme.entities.Article</class>
    <class>com.surpriseme.entities.Blockedusers</class>
    <class>com.surpriseme.entities.Source</class>
    <class>com.surpriseme.entities.Usergraph</class>
    <class>com.surpriseme.entities.Articlelinks</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="hibernate.connection.username" value="root"/>
      <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
      <property name="hibernate.connection.password" value="a"/>
      <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/surpriseme?zeroDateTimeBehavior=convertToNull"/>
    </properties>
  </persistence-unit>
</persistence>
